@{
    ViewBag.Title = "Index";
}

<div>
    <div ng-app="DevMan">
        <div ng-controller="MainCtrl">
            Testing

            <div ng-include="template"></div>

            @Html.Partial("Welcome")


            <script src="~/Scripts/angular.min.js"></script>
            <script src="~/App/common/EnumService.js"></script>
            <script src="~/App/App.js"></script>


        </div>
    </div>
</div>